* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
}
.btn{
  background-color: #c48d6c;
  color: white;
  border-radius: 20px;
}
.btn:hover{
  background-color: #c48d6c;
  color: white;
}